gbody {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}


/* The popup chat - hidden by default */
.chat-popup {
  position: fixed;
  top: 0;
  right: 0;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  width: 100%;
  min-width: 360px;
  padding: 4%;
  background-color: white;
  height: 100%;
}

.form-container h1 {
  text-align: center;
  font-size: 4em;
}

/* Full-width textarea */
.form-container textarea {
  width: 92%;
  min-width: 360px;
  padding: 5%;
  margin: 10px 0 10px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  max-height: 100px;
  height: 70%;
  position: absolute;
  right: 4%;
  bottom: 100px;
  border-radius: 2px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  content: 'x';
  background-color: #757575;
  font-weight: 300;
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
}


/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#myForm {
  width: 0;
  height: 100%;
  overflow-x: hidden;
  transition: width 2s;
  border-radius: 2px;
}

#myForm.chatOpen {
  width: 400px;
}

#submitBtn {
  background-color: #7a7d80;
  color: white;
  border: none;
  cursor: pointer;
  width: 92%;
  min-width: 360px;
  bottom: 50px;
  position: absolute;
  right: 4%;
  height: 50px;
  border-radius: 2px;
  font-size: 2em;
}

.message {
  min-height: 3em;
  font-size: 1.25em;
  padding: .835em 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: white;
}

.myMessage {
  background-color: #7ac0e4;
  text-align: right;
  margin-left: 90px;
}

.otherMessage {
  background-color: #0081cb;
  text-align: left;
  margin-right: 90px;
}

#past-comments {
  height: calc(100% - 200px - 10em);
  overflow-y: scroll;
}
