body {font-family: 'Roboto', sans-serif;}
* {box-sizing: border-box;}

/* Add styles to the form container */
#form-container {
  width: 100%;
  min-width: 360px;
  padding: 1em;
  background-color: white;
  height: 100%;
}

#send-area {
  width: calc(90% - 2em);
}

#comment-container-material {
  width: 100%;
}

#chat-popup {
  width: 0;
  height: 100%;
  overflow-x: hidden;
  transition: width 0.5s;
  border-radius: 2px;
  position: fixed;
  top: 0;
  right: 0;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

#chat-popup.chatOpen {
  width: 400px;
}

.form-container h1 {
  text-align: center;
  font-size: 4em;
  margin: 0.5em 0 0 0;
}

#submitBtn {
  background-color: white;
  border: none;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  right: 4%;
  border-radius: 2px;
  font-size: 2em;
  background-image: url(icons/send.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.message {
  min-height: 3em;
  font-size: 1.25em;
  padding: .835em 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: white;
}

.myMessage {
  background-color: #7ac0e4;
  text-align: right;
  margin-left: 90px;
}

.otherMessage {
  background-color: #0081cb;
  text-align: left;
  margin-right: 90px;
}

#chat-wrapper {
  height: calc(100% - 7em);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Thread menu */

.thread-btn, .thread-btn:focus {
  height: 2em;
  width: 2em;
  top: 2em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  position: absolute;
  padding: 0;
}

#menu-btn, #close-menu {
  right: 2em;
}

#new-thread, #submit-thread {
  left: 2em;
  z-index: 2;
}

#menu-btn {
  background-image: url("icons/open.svg");
}

#close-menu {
  background-image: url("icons/close.svg");
  z-index: 2;
}

#thread-menu {
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #efefef;
  z-index: 1;
  transition: width .5s;
}

#thread-menu.open {
  width: 60%;
}

#menu-container {
  padding: 1em;
  position: relative;
  height: 100%;
  width: 240px;
}

#menu-container h1 {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
}

#menu-items {
  position: absolute;
  top: 7em;
  left: 2em;
  width: calc(100% - 4em);
  overflow-y: scroll;
  height: calc(100% - 10em);
}

.thread-menu-item {
  cursor: pointer;
  margin-bottom: 1em;
  display: block;
  font-size: 1.25em;
}

#new-thread {
  background-image: url("icons/add.svg");
}

#submit-thread {
  background-image: url("icons/save.svg");
  display: none;
}

#cancel-thread {
  background-image: url("icons/clear.svg");
}

#cancel-thread {
  height: 1.5em;
  width: 1.5em;
  margin-top: .5em;
  position: inherit;
}

.thread-wrapper {
  display: none;
  height: 100%;
  width: 100%;
}

.thread-name {
  text-align: center;
  font-size: 4em;
  margin: .5em 0;
}

.thread-messages {
  overflow-y: scroll;
  height: calc(100% - 7em);
  padding-right: 10px;
}

#thread-form {
  display: none;
  width: 100%;
  overflow: auto;
  margin-bottom: 1em;
}

#thread-input, #thread-input:focus {
  float: left;
  width: calc(100% - 3em);
  margin-right: 1em;
  resize: none;
}
