#map {
  height: 1000px;
  width: 1000px;
}

.contentWrapper {
  width: 20em;
}

.leftColumn {
  float: left;
  margin-right: 1em;
}

.rightColumn {
  float: left;
  width: calc(100% - 4em);
}

#markerDelete {
  height: 1.5em;
  width: 2em;
  margin: 2em 0 2em 0 !important;
  background-image: url("icons/delete.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  padding: 0;
  background-color: white;
}

#markerDelete:hover {
  cursor: pointer;
}

#markerDelete:focus {
  outline: 0;
}

.markerTitle {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}
