#share-popup {
  background-color: #80808040;
  z-index: 3;
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
}

#share-popup.cover {
  display:block;
}

#popup-window {
  z-index: 4;
  background: white;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  height: 500px;
  width: 500px;
  position: relative;
  border-radius: 4px;
  padding: 50px;
  overflow: scroll;
  cursor: default;
}

#close, #close:focus {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

#email {
  width: calc(100% - 140px);
  margin-right: 30px;
  height: 28px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid gray;
}

#addEmail {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  background-color: #fcfcfc;
  border: 1px solid gray;
  border-radius: 2px;
}

#email-bank {
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow-y: scroll;
}

#share {
  font-size: 1.2em;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  outline: 0;
  border: 1px solid gray;
  border-radius: 2px;
}

#shared-bank {
  outline: 0;
  height: 100px;
  overflow-y: scroll;
}

.emailWrapper {
  overflow: visible;
  position: relative;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}

.emailWrapper p {
  display: inline;
  margin-right: 0;
}

.emailWrapper button {
  border: 0;
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  margin: 5px;
}

#sharing-title {
  margin-bottom: 0;
}

#members-title {
  margin: 0;
}
