html:root {
  --mdc-theme-primary: #306890;
}

#share-popup {
  background-color: #80808040;
  z-index: 3;
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
}

#share-popup.cover {
  display: block;
}

.share-card__title {
    -webkit-font-smoothing: antialiased;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: .0125em;
}

.share-card__subhead {
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .0178571429em;
  opacity: .6;
}

#share-card {
  z-index: 4;
  background: white;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  height: 500px;
  width: 500px;
  position: relative;
  border-radius: 4px;
  padding: 50px;
  overflow: scroll;
  cursor: default;
}

#popup-window label {
  display: block;
  text-align: center;
  font-size: 3em;
}

#addEmail {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif
}

#share-list {
  max-height: 300px;
  height: 300px;
  overflow-y: scroll;
}

#share-add-container {
  display: flex;
}

#share-add-button {
  margin: auto;
  margin-left: 10px;
}
