html {
  height: 100%;
  overflow: hidden;
}

:root {
  --mdc-theme-primary: #306890;
}

body {
  background-image: url(https://images.unsplash.com/photo-1519885277449-12eee5564d68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);
  background-size: cover;
  background-position-y: 62%;
  background-repeat: no-repeat;
  margin: 8vh 10vw 5vh 10vw;
  height: 90%;
  cursor: default;
  font-size: 3vh;
  font-family: 'Roboto', sans-serif;
}

#loading {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 3em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Header */
#header {
  margin-bottom: 5%;
  font-size: calc(5vw + 5vh);
}

#header.logged-in {
  width: calc(78vw - 350px - 4%);
  float: left;
  font-size: calc(5vw + 5vh);
}

#header h1 {
  text-align: center;
  width: 100%;
  font-size: inherit;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

#welcome-message {
  text-align: center;
  font-size: .2em;
  margin: 0;
  display: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Forms */

#middle-panel {
  display: none;
  margin: 0 5% 0 5%;
  width: 30%;
  height: auto;
  overflow: scroll;
}

#save-details, #submit-map {
  background-image: url("icons/save.svg");
  display: none;
}

#username-form {
  display: none;
  resize: none;
  overflow: scroll;
  font-size: 1em;
  width: calc(100% - 4px);
  height: 1em;
  border-radius: 2px;
}

#new-map-form {
  width: 80%;
  height: 1.5em;
  margin: 0;
  resize: none;
  overflow: scroll;
  font-size: 1vw;
}

#map-form-wrapper {
  display: none;
  border-width: 2px;
  height: 2em;
}

.form {
  display: block;
  width: 100%;
  height: 100%;
}

.form textarea {
  display: block;
  width: calc(100% - 10px);
  margin-bottom: 30px;
  padding: 5px;
  resize: none;
  font-size: 1em;
  height: 1.5em;
  border-radius: 2px;
}

.form input {
  font-size: 1em;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 8px;
  height: 2em;
  border-color: #80808052;
  background-color: #ffffffbd;
  border-style: outset;
  outline: 0;
  overflow-x: scroll;
  cursor: pointer;
  float: left;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* User Details */

#profile-btn {
  background-image: url("icons/profile.svg");
}

#edit-details {
  background-image: url("icons/edit.svg");
}

#user-details {
  overflow-y: scroll;
  display: none;
}

.detailsGroup {
  margin-bottom: 5vh;
}

.detailsGroup .groupLabel {
  margin: 10px 0 10px 0;
}

.detailsGroup .groupContent {
  margin: 0;
  overflow-wrap: break-word;
}

.mdc-text-field__input {
  color: rgba(0,0,0,1) !important;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* User Maps */

#maps-btn {
  background-image: url("icons/map.svg");
}

#add-map {
  background-image: url("icons/add.svg");
}

#maps-wrapper {
  display: none;
}

#user-maps {
  margin-top: 30px;
  height: calc(100% - 50px - 3vw);
  overflow-y: scroll;
}

.roomBtn, .roomBtn:focus {
  display: block;
  width: calc(100% - 30px);
  margin: 15px;
  overflow: auto;
  white-space: normal;
  padding: 10px;
  font-size: 1em;
  outline: 0;
  border-radius: 5px;
  border-style: outset;
  border-color: #bab9b9;
  background-color: #bcbec19e;
  box-shadow: 0px 2px 5px 0px;
  cursor: pointer
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Sign out */
#sign-out, #sign-out:focus {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}

#firebaseui-auth-container {
  width: 100%;
  display: none;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* General */

#panel {
  border-radius: 10px;
  padding: 2%;
  background-color: #e4e7ebb3;
  min-width: 9em;
  width: 25%;
  max-width: 350px;
  border-color: gray;
  float: left;
  height: 80vh;
  display: none;
  font-size: calc(25px + .5vw);
}

#nav {
  height: 6vh;
  margin: 1vh;
  display: flex;
}

.nav-btn, .nav-btn:focus {
  height: 4vh;
  width: 7vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  outline: 0;
  background-color: transparent;
  float: left;
  cursor: pointer;
  margin-left: 10px;
}

.panel-content {
  position: relative;
  height: calc(100% - 2em);
}

.panel-header {
  margin: 0;
  display: block;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  margin-bottom: 20px;
  width: calc(100% - 4vw);
}

.panel-icon, .panel-icon:focus {
  position: absolute;
  top: 5px;
  right: 5px;
  height: calc(25px + 1vw);
  width: calc(25px + 1vw);
  margin: .5vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 0;
}

.nav-btn.show {
  border: 1px solid black;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
}
